#overlay {
    position: fixed;
    display: none;
    width: 30%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(28, 28, 28);
    z-index: 2;
    cursor: pointer;
    overflow: auto;
}
#text{
    position: absolute;
    top: 50px;
    font-size: 20px;
    color: white;
  }

.btn-off {
    background-color: white;
    width: 30px;
    height: 30px;
}

.settings-menu {
    display: none;
    line-height: 1.8;
    padding: 30px;
    height: 80%;
    overflow-y: auto;
}

.submit-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
  }

h3 {
    color: white;
}